html, body {    
    color: #FFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;    
    margin: 0;
}
body{
    background-image: url("https://media.playstation.com/is/image/SCEA/marvels-avengers-normal-hero-background-01-ps4-us-10jul19?$native_nt$"); 
    background-repeat: repeat-y;   
}
h1, h2, h3{
    color : #FFF!important;
    margin-bottom: 5%!important;
    margin-top: 5%!important;
    
}
.card{
    background-color: transparent!important;
}

.full-height {
    height: 100vh;
}

.flex-center {    
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.attributes{
    text-align: left!important;    
    margin-bottom: 1%;
}
.content {
    text-align: center;
    margin-bottom: 5%;
}
.desription{
    padding-left: 10%;
    padding-right: 10%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;    
    color: white;
    text-align: center;
 }
.title {
    font-size: 84px;
}            
.m-b-md {
    margin-bottom: 30px;
}
.m-t-md {
    margin-top: 30px;
}
.creators, .characters{
    text-align: left!important;
}
#table_custom {    
    border-collapse: collapse;
    width: 70%;
    margin-left:auto; 
    margin-right:auto;    
}
.img_character{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
